.b-example-divider {
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
  }
  
  .form-control-dark {
    color: #fff;
    background-color: var(--bs-dark);
    border-color: var(--bs-gray);
  }
  .form-control-dark:focus {
    color: #fff;
    background-color: var(--bs-dark);
    border-color: #fff;
    box-shadow: 0 0 0 .25rem rgba(255, 255, 255, .25);
  }
  
  .bi {
    vertical-align: -.125em;
    fill: currentColor;
  }
  
  .text-small {
    font-size: 85%;
  }
  
  .dropdown-toggle {
    outline: 0;
  }

  #piedepagina {
    margin-bottom: 0px !important;
  }
  
  .text-center .p-3 {
    background: black;
    color: white;
  }

  #contenedor {
    margin: 2%;
    background: gainsboro;
  }

  #validationCustom01, #validationCustom02, #validationCustom03, #validationCustom04, #validationCustom05, #validationCustom06, #validationCustom07, #operatingsystem, #eleccionu, #eleccionw, #elecciond {
    border: 2px solid #ffc107;
  }

  #crear {
    background: #212529;
  }

  #vm {
    margin: 2%;
  }

  #vm h3 {
    margin-bottom: 20px;
  }

  label {
    font-weight: bold;
  }