.b-example-divider {
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
  }
  
  .form-control-dark {
    color: #fff;
    background-color: var(--bs-dark);
    border-color: var(--bs-gray);
  }
  .form-control-dark:focus {
    color: #fff;
    background-color: var(--bs-dark);
    border-color: #fff;
    box-shadow: 0 0 0 .25rem rgba(255, 255, 255, .25);
  }
  
  .bi {
    vertical-align: -.125em;
    fill: currentColor;
  }
  
  .text-small {
    font-size: 85%;
  }
  
  .dropdown-toggle {
    outline: 0;
  }

  #piedepagina {
    margin-bottom: 0px !important;
  }
  
  .text-center .p-3 {
    background: black;
    color: white;
  }

  #contenedor {
    margin: 3%;
    background: gainsboro;
  }

  #validationCustom01, #validationCustom02, #validationCustom03, #validationCustom04, #validationCustom05, #validationCustom06, #validationCustom07, #operatingsystem, #eleccionu, #eleccionw, #elecciond {
    border: 2px solid #ffc107;
  }

  #crear {
    background: #212529;
  }

  #vm {
    margin: 3%;
  }

  #vm h3 {
    margin-bottom: 20px;
  }

  label {
    font-weight: bold;
  }

  #lista {
    list-style:none;
    display: flex;
    align-items: center;
  }

   
  #lista a {
    text-decoration: none;
    color: black;
  }


  #lista  a:hover {
    background-color: #e9f6fd;
    border: 1px solid #d8effe;
  }

  #lista li {
   margin-right: 10px;
  }

  #power {
   color: #6bd33e;
  }
  
  #poweroff {
    color: #ff3530;
    width: 5px;
    height: 5px;
  }

  #suspen {
    color: #fd9f17;
  }

  #console {
    color:  #839AB5;
  }

  #delete {
    color:  #ab2110;
  }

  #create {
    color: #80bded;
  }

  .boton {
    padding: 0; 
    border: none; 
    background: none;
  }

  .boton:hover {
    background-color: #e9f6fd;
    border: 1px solid #d8effe;
  }

  #contacto {
    margin-top: 3%;
  }

  #emailbuttom{
    margin-top: 2%;
  }
 
#pie a {
  text-decoration: none;
}

#buscar {
  background: none;
}


#marke {

  margin-top: 4% !important;
}

#tipoO {
  margin-bottom: 2% !important;
}

#imagen {
  margin-bottom: 3% !important;
}

#myCarousel {
  margin-top: 1% !important;
}

#imgc {
  margin-left: 5% !important;
}
